<ul>
  <li class="li"><a href="/">Home</a></li>
  <li class="li"><a href="/addMovie">Add Movie</a></li>
  <li class="li"><a href="/deleteMovie"> Delete Movie</a></li>
  <li class="li"><a href="'/updateMovie">Update Movie</a> </li>
  <li class="li"><a href="'/movies">Movies</a> </li>
</ul>
