<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs', {title: "Nav"}) %>
  <main>
    <h1>Add Movies</h1>
    <form method="POST" action="/addMovie">
      <label for="add Movie">Add Movie:</label>
      <input type="text" id="movie" name="movie" <% if (typeof addMovie !==
      'undefined') { %> value="<%= addMovie %>" <% } %> />
      <button type="submit">Submit</button>
    </form>
  </main>

  <%- include('./partials/footer.ejs') %>
</html>
