<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs', {title: "Update Movie"}) %> <%-
  include('./partials/nav.ejs', {title: "Nav"}) %>

  <form action="POST">
    <label for="">
      <input type="text" />
    </label>
    <button class="btn"></button>
  </form>
</html>
